name: Auto Update Language Stats

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - run: |
          cd resources/languageStats
          rawquery="https://github-readme-stats.vercel.app/api/top-langs/?username=noahreinalter&layout=compact"
          hidden="&hide=HTML,CSS,Makefile"
          wget "$rawquery$hidden" -O default.svg
          wget "$rawquery$hidden&theme=github_dark" -O github_dark.svg
          git config user.name noahreinalter
          git config user.email 38698485+noahreinalter@users.noreply.github.com
          git add .
          today=$(date +'%-d.%-m.%Y')
          git diff-index --quiet HEAD || (git commit -m "Language Stats ${today}" && git push)